.tots {
  margin: 0 auto;
  max-width: 1200px;
}

.main-container {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  min-width: 300px;
  overflow: auto;
}

footer {
  text-align: center;
}

/deep/ .mat-tab-body-wrapper {
  min-height: 100px;
}
