<div class="tots">
  <h1> TEAM OF THE SEASON | Fifa Mobile 18 </h1>
  <p> 😎 Bảng quy đổi vouchers / điểm / phần thưởng trong TOTS</p>
  <p> 😎 Chi tiết phần thưởng cho từng giải ở các tab bên cạnh!</p>

  <mat-tab-group>
    <mat-tab label="MAIN">
      <div class="main-container mat-elevation-z8">
        <table mat-table #table [dataSource]="dataSource">
          <!-- Category Column -->
          <ng-container matColumnDef="cat">
            <th mat-header-cell *matHeaderCellDef> Giải đấu </th>
            <td mat-cell *matCellDef="let element"> {{element.cat}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Tên </th>
            <td mat-cell *matCellDef="let element" class="bold"> {{element.name}} </td>
          </ng-container>
          <!-- OVR Column -->
          <ng-container matColumnDef="ovr">
            <th mat-header-cell *matHeaderCellDef> OVR </th>
            <td mat-cell *matCellDef="let element" class="bold"> {{element.ovr}} </td>
          </ng-container>
          <!-- POSition Column -->
          <ng-container matColumnDef="pos">
            <th mat-header-cell *matHeaderCellDef> Vị trí </th>
            <td mat-cell *matCellDef="let element" class="bold"> {{element.pos}} </td>
          </ng-container>
          <!-- Points Column -->
          <ng-container matColumnDef="points">
            <th mat-header-cell *matHeaderCellDef> Điểm </th>
            <td mat-cell *matCellDef="let element" class="red"> {{element.points}} </td>
          </ng-container>
          <!-- Vouchers Column -->
          <ng-container matColumnDef="vouchers">
            <th mat-header-cell *matHeaderCellDef> Vouchers </th>
            <td mat-cell *matCellDef="let element"> {{element.points * 3}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="Community">
      <div class="main-container mat-elevation-z8" class="details-wrapper">
        <table mat-table #table [dataSource]="comData" class="details">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Cầu thủ </th>
            <td mat-cell *matCellDef="let element" class="bold"> {{element.name}} </td>
          </ng-container>
          <!-- Category Column -->
          <ng-container matColumnDef="mainPoint">
            <th mat-header-cell *matHeaderCellDef> điểm chính </th>
            <td mat-cell *matCellDef="let element"> {{element.mainPoint}} </td>
          </ng-container>
          <!-- POSition Column -->
          <ng-container matColumnDef="branchPoint">
            <th mat-header-cell *matHeaderCellDef> điểm nhánh </th>
            <td mat-cell *matCellDef="let element"> {{element.branchPoint}} </td>
          </ng-container>
          <!-- OVR Column -->
          <ng-container matColumnDef="mainCoin">
            <th mat-header-cell *matHeaderCellDef> Coins </th>
            <td mat-cell *matCellDef="let element"> {{element.mainCoin | number}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="mainTXP">
            <th mat-header-cell *matHeaderCellDef> TXP </th>
            <td mat-cell *matCellDef="let element"> {{element.mainTXP | number}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="mainSB">
            <th mat-header-cell *matHeaderCellDef> SB </th>
            <td mat-cell *matCellDef="let element"> {{element.mainSB | number}} </td>
          </ng-container>
          <!-- Points Column -->
          <ng-container matColumnDef="mainPlayers">
            <th mat-header-cell *matHeaderCellDef> Số cầu thủ </th>
            <td mat-cell *matCellDef="let element"> {{element.mainPlayers}} </td>
          </ng-container>
          <!-- Vouchers Column -->
          <ng-container matColumnDef="branchCoin">
            <th mat-header-cell *matHeaderCellDef> Coins nhánh </th>
            <td mat-cell *matCellDef="let element"> {{element.branchCoin | number}} </td>
          </ng-container>
          <!-- Vouchers Column -->
          <ng-container matColumnDef="branchTXP">
            <th mat-header-cell *matHeaderCellDef> TXP nhánh </th>
            <td mat-cell *matCellDef="let element"> {{element.branchTXP | number}} </td>
          </ng-container>
          <!-- Vouchers Column -->
          <ng-container matColumnDef="branchSB">
            <th mat-header-cell *matHeaderCellDef> SB nhánh </th>
            <td mat-cell *matCellDef="let element"> {{element.branchSB | number}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="comDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: comDisplayedColumns;"></tr>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="EPL">
      <div class="main-container mat-elevation-z8" class="details-wrapper">
        <table mat-table #table [dataSource]="eplData" class="details">
          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Cầu thủ </th>
            <td mat-cell *matCellDef="let element" class="bold"> {{element.name}} </td>
          </ng-container>
          <!-- Category Column -->
          <ng-container matColumnDef="mainPoint">
            <th mat-header-cell *matHeaderCellDef> điểm chính </th>
            <td mat-cell *matCellDef="let element"> {{element.mainPoint}} </td>
          </ng-container>
          <!-- POSition Column -->
          <ng-container matColumnDef="branchPoint">
            <th mat-header-cell *matHeaderCellDef> điểm nhánh </th>
            <td mat-cell *matCellDef="let element"> {{element.branchPoint}} </td>
          </ng-container>
          <!-- OVR Column -->
          <ng-container matColumnDef="mainCoin">
            <th mat-header-cell *matHeaderCellDef> Coins </th>
            <td mat-cell *matCellDef="let element"> {{element.mainCoin | number}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="mainTXP">
            <th mat-header-cell *matHeaderCellDef> TXP </th>
            <td mat-cell *matCellDef="let element"> {{element.mainTXP | number}} </td>
          </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="mainSB">
            <th mat-header-cell *matHeaderCellDef> SB </th>
            <td mat-cell *matCellDef="let element"> {{element.mainSB | number}} </td>
          </ng-container>
          <!-- Points Column -->
          <ng-container matColumnDef="mainPlayers">
            <th mat-header-cell *matHeaderCellDef> Số cầu thủ </th>
            <td mat-cell *matCellDef="let element"> {{element.mainPlayers}} </td>
          </ng-container>
          <!-- Vouchers Column -->
          <ng-container matColumnDef="branchCoin">
            <th mat-header-cell *matHeaderCellDef> Coins nhánh </th>
            <td mat-cell *matCellDef="let element"> {{element.branchCoin | number}} </td>
          </ng-container>
          <!-- Vouchers Column -->
          <ng-container matColumnDef="branchTXP">
            <th mat-header-cell *matHeaderCellDef> TXP nhánh </th>
            <td mat-cell *matCellDef="let element"> {{element.branchTXP | number}} </td>
          </ng-container>
          <!-- Vouchers Column -->
          <ng-container matColumnDef="branchSB">
            <th mat-header-cell *matHeaderCellDef> SB nhánh </th>
            <td mat-cell *matCellDef="let element"> {{element.branchSB | number}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="comDisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: comDisplayedColumns;"></tr>
        </table>
      </div>
    </mat-tab>

    <mat-tab label="La Liga">
      <p> Chưa có đâu, quay lại sau nhé </p>
    </mat-tab>
  </mat-tab-group>

  <footer>
    <div class='credit'>
      <p>
        Made with ❤️ by <a href='https://twitter.com/duchienvuong' target="_blank"> hivodo </a> - Vietnam Hunters league!
        <br/>
        Inspiration by <a href='https://www.reddit.com/user/B41Z3' target="_blank"> B41Z3 </a>
      </p>
    </div>
  </footer>
</div>
