/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('//fonts.googleapis.com/icon?family=Material+Icons');

@include mat-core();

body {
  font-family: 'Roboto';
  font-weight: normal;
  background-color: #f4f4f4;
}

h1, h2, h3, h4 {
  font-weight: normal;
}
